[env]
  TERM = "xterm-256color"

[font]
normal = { family = "SauceCodePro Nerd Font Mono", style = "Regular" }
size = 12

[colors.primary]
# Default colors
background = "0x002b36"
foreground = "0x839496"

[colors.normal]
# Normal colors
black   = "0x073642"
red     = "0xdc322f"
green   = "0x859900"
yellow  = "0xb58900"
blue    = "0x268bd2"
magenta = "0xd33682"
cyan    = "0x2aa198"
white   = "0xeee8d5"

[colors.bright]
# Bright colors
black   = "0x002b36"
red     = "0xcb4b16"
green   = "0x586e75"
yellow  = "0x657b83"
blue    = "0x839496"
magenta = "0x6c71c4"
cyan    = "0x93a1a1"
white   = "0xfdf6e3"


[colors.dim]
# Dim colors
black   = "0x073642"
red     = "0xdc322f"
green   = "0x859900"
yellow  = "0xb58900"
blue    = "0x268bd2"
magenta = "0xd33682"
cyan    = "0x2aa198"
white   = "0xeee8d5"

[keyboard]
bindings = [
  { key = "Right",  mods = "Alt",             chars = "\u001BF" },
  { key = "Left",   mods = "Alt",             chars = "\u001BB" },
  { key = "F",      mods = "Command|Control", action = "ToggleFullscreen" },
  { key = "Equals", mods = "Control",         action = "IncreaseFontSize" },
  { key = "Minus",  mods = "Control",         action = "DecreaseFontSize" },
]
{{- if eq .chezmoi.os "darwin" }}

[window]
# Use the Option key as Alt (for Alt-Left, Alt-Right, Alt-C).
option_as_alt = "Both"
{{- else }}

[bell]
command = { program = "pw-play", args = ["/usr/share/sounds/freedesktop/stereo/message.oga"] }
{{- end }}
